@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
}

:root {
    --navbar-height: 80px;
}

html, body {
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background: #4d0202;
    border-radius: 10px;
  }

li, a, button { 
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
    width: 100%;
    height: var(--navbar-height);
}

.logo {
    cursor: pointer;
    background-color: #24252A;
    width: 100px;       
    height: 60px;
    border-radius: 80%;  
    object-fit: cover;   
}

.nav_links{
    list-style: none;
    background-color: #24252A;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    background-color: #24252A;
}

.nav_links li a {
    transition: all 0.3s ease;
    background-color: #24252A;
    margin: 30px;
}

.nav_links li a:hover {
    color: #8B0000; /* default solid dark red */
}

button {
    padding: 9px 25px;
    background: linear-gradient(135deg, #8B0000, #000000);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: linear-gradient(135deg, #8B0000, #000000);
}

.contact_me{
    background-color: #24252A;
}

.section_home {
    padding-top: -80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #24252A;
    color: #F5F5F5;
    position: relative;
    border-top: 2px solid #8B0000;
    border-bottom: 2px solid #8B0000;
}

.left_side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.personal_name{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-size: 50px;
    color: #F5F5F5;
    opacity: 0;
    transform: translateX(50px);
    animation: fadeSlideIn 1s ease-out forwards;
    animation-delay: 0.5s;
}

#profile_picture {
    margin-left: 50px;
    margin-right: 100px;
    border-radius: 50%;
    background: linear-gradient(135deg, #8B0000, #000000);
}

#description {
    word-wrap: break-word;  
    overflow-wrap: break-word;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-size: 20px;
    align-self: flex-start;
    margin-top: 200px;
    line-height: 3;
    margin-right: 40px;
    opacity: 0;
    transform: translateX(50px);
    animation: fadeSlideIn 1s ease-out forwards;
    animation-delay: 0.5s;
}

@keyframes fadeSlideIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
}

.icons {
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
}

.icons i {
    font-size: 36px; /* You can try 30px, 36px, 40px depending on what looks good */
    margin: 50px;
}

.section div, h1 {
    font-size: 40px;
}

.section_about {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    color: #000000;
}
